<div class="text-center m-5" id="navigationButtons">
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Treats", "Index", "Treats", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Treat", "Create", "Treats", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})

  @Html.ActionLink("List of Flavors", "Index", "Flavors", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
  @Html.ActionLink("Add Flavor", "Create", "Flavors", null, new {@class = "btn btn-secondary btn-lg mx-2 my-1"})
</div>