<nav id="link-header" class="navbar navbar-fixed-top">
  @Html.ActionLink("Pierre's Bakery", "Index", "Home", null, new {@class = "navbar-brand float-left"})
  <div>
    @Html.ActionLink("Treats", "Index", "Treats", null, new {@class = "nav-link float-left"})
    @Html.ActionLink("Add Treat", "Create", "Treats", null, new {@class = "nav-link float-left"})

    @Html.ActionLink("Flavors", "Index", "Flavors", null, new {@class = "nav-link float-left"})
    @Html.ActionLink("Add Flavor", "Create", "Flavors", null, new {@class = "nav-link float-left"})
  </div>
  <div>
    @Html.ActionLink("Log In", "Login", "Account", null, new {@class = "nav-link float-right"})
    @Html.ActionLink("Log Out", "LogOff", "Account", null, new {@class = "nav-link float-right"})
    @Html.ActionLink("Order", "Index", "Orders", null, new {@class = "nav-link float-right"})
  </div>
</nav>