@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Treat

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h2>@Html.DisplayFor(model => model.Description)</h2>

<div class="container page-content">
  <p>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</p>

  <p>Great selection if you're in the mood for:</p>
  @if (@Model.FlavorTreatJoinEntities.Count == 0)
  {
    <h5>No Flavors Added</h5>
  }
  else
  {
    <ul>
    @foreach (FlavorTreat join in Model.FlavorTreatJoinEntities)
      {
        <li>
          @using (Html.BeginForm("RemoveFlavor", "Treats"))
          {
            @Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new { id = join.Flavor.FlavorId })
            @Html.Hidden("joinId", @join.FlavorTreatId)
            <button type="submit" class="fas fa-trash-alt btn" title="Remove Flavor"></button>
          }
        </li>
      }
    </ul>
  }
</div>

<div class="text-center m-5">
  @Html.ActionLink("Add Flavor", "AddFlavor", new { id = Model.TreatId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
  @Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }, new { @class = "btn btn-secondary btn-lg mx-2 my-1" })
</div>